<div id="user-profile">
  <%= image_tag "profile.png" %>
  <% if current_user.trusted %>
    <p><%= image_tag "drevil.jpg" %></p>
  <% end %>
  <h3><%=@user.name%>'s profile</h3>
  <p>(aka <%=@user.username%>)</p>
  <h4><%=@user.name%>'s Reviews: </h4>
  <ul>
    <%@user.reviews.each do |review|%>
      <li><%=link_to review.movie.title, movie_review_path(review.movie, review) %>, Score: <%=review.score%></li>
    <% end %>
  </ul>
</div>
