<div class="review">
  <p>By: <%=review.user.username%></p>
  <p>Score: <%=review.score%> out of 10</p>
  <p><%=review.body%></p>
  <p><%# render review.comments%></p>
  <p><%=link_to "Edit Review", edit_movie_review_path(review.movie, review) %> | <%= link_to 'Delete Review', movie_review_path(review.movie, review), method: :delete, data: { confirm: 'Are you sure?' } %></p>

</div>
