<div class="review-stub">

  <h3><%=link_to "A review", movie_review_path(review.movie, review) %> for: <%=link_to review.movie.title, movie_path(review.movie) %></h3>
  <p><%= review.body %> | By: <%= link_to(review.user.username, user_path(review.user))%></p>
  <p>Review score: <%=review.score%>/10</p>


  <% if logged_in? %>
    <p>Was this review helpful?</p>
    <p><%= render partial: 'votes/vote', locals: {movie: review.movie, review: review, vote: Vote.new} %></p>
  <% end %>
  <p>Helpful Score: <%= review.points %></p>


  <div id="review-comments-header">
    <p><%= link_to "Comment on this review",  new_comment_path(movie_id: @movie, review_id: review)%></p>
    <p><%=link_to "See review comments", movie_review_path(review.movie, review) %></p>
  </div>


</div>

