<div id="review_container">

  <h3>Review for: <%=link_to @review.movie.title, movie_path(@review.movie) %></h3>

  <p>By: <%= link_to("#{@review.user.username}", user_path(@review.user))%></p>
  <p>Score: <%=@review.score%> out of 10</p>
  <p><%=@review.body%></p>

  <p>
    <% if is_author(@review.user.id) %>
      <%=link_to "Edit Review", edit_movie_review_path(@review.movie, @review) %>
      |
      <%= link_to 'Delete Review', movie_review_path(@review.movie, @review), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </p>
  <hr>

  <h4>Comments on this review:</h4>
  <div id="comments_container">
    <p><%= link_to "Add a comment on this review.",  new_comment_path(movie_id: @review.movie, review_id: @review)%></p>
    <%= render @review.comments %>
  </div>
</div>
