<div id="review_container">
  <h3>Review for: <%=@review.movie.title%></h3>
  <p>By: <%=@review.user.username%></p>
  <p>Score: <%=@review.score%> out of 10</p>
  <p><%=@review.body%></p>

  <p>
    <% if is_author(@review.user.id) %>
      <%=link_to "Edit Review", edit_movie_review_path(@review.movie, @review) %>
      |
      <%= link_to 'Delete Review', movie_review_path(@review.movie, @review), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </p>
  <hr>
  <h4>Comments:</h4>
  <p><%= link_to "New Comment",  new_comment_path(movie_id: @review.movie, review_id: @review) %></p>
  <div id="comments_container"><%= render @review.comments%></div>
</div>
