<!DOCTYPE html>
<html>
<head>
  <title>Movie Database</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%# javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= csrf_meta_tags %>

</head>
<body>

<div class="container">
  <div class="page-header">
    <ul class="nav nav-pills pull-right">
      <li>
        <%= link_to("Home", root_path) %>
      </li>
      <% if logged_in? %>
      <li>
        <%= button_to('Log Out', session_path, method: :delete) %>
      </li>
      <% else %>
      <li>
        <%= link_to("Sign Up", new_user_path) %>
      </li>
      <li>
        <%= link_to("Log In", new_session_path) %>
      </li>
      <% end %>
    </ul>
    <h1><%= link_to("The Best Movie Database", root_path) %></h1>
  </div>
</div>
<div class="container" id="main-content">
  <%= yield %>
</div>
</body>
</html>
